* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
}

#main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#sketch-grid {
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: 25px 100px;
}

#sketch-grid:hover {
    cursor: cell;
}

.row {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
}

.cell {
    display: inline-block;
    background-color: white;
}

#selection-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#title {
    font-size: 32px;
    margin-bottom: 5px;
}

#sketch-options {
    margin-bottom: 10px;
    text-align: center;
}

.sketch-option {
    margin: -2px;
    font-size: 32px;
    height: 75px;
    width: 75px;
    border: 2px solid white;
    background-color: white;
}

.sketch-option:hover {
    cursor: pointer;
    background-color: rgb(165, 165, 165);
}

.sketch-option:active {
    cursor: pointer;
    background-color: grey;
}

.sketch-option[active=''] {
    background-color: grey;
}

#grid-size {
    background-color: white;
    color: black;
    border: 2px solid grey;
}

#clear {
    background-color: white;
    color: black;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 3px;
    margin-bottom: 5px;
}

#clear:hover {
    cursor: pointer;
    background-color: rgb(200, 200, 200);
}

#clear:active {
    background-color: grey;
}
